@font-face {
  font-family: "MPLUSRounded1c";
  src: url("/assets/fonts/MPLUSRounded1c-Regular.ttf") format("truetype");
}

body {
  font-family: "MPLUSRounded1c", sans-serif;
}

body { background: red; }
