@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('{{ "/assets/fonts/MPLUSRounded1c-Regular.ttf" | relative_url }}') format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

